.intro-animation {
  animation-name: moving;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

section.explanation {
  padding-top: 40px;

  @media (max-width: $break-small) {
    padding-top: 20px;
  }

  h1.intro {
    font-family: $san-serif;
    font-size: 38px;
    font-weight: 900;
    line-height: 1.17;
    padding-bottom: 15px;

    @media (max-width: $break-small) {
      font-size: 32px;
    }

    @media (max-width: 550px) {
      margin-bottom: 8px;
    }
  }
  h1.intro:hover {
    color: $purple;
  }
  h1.sub-intro {
    font-family: $san-serif;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    padding-bottom: 15px;
  }
  p.intro-p {
    font-family: $san-serif;
    font-size: 16px;
    // font-weight: 700;
    padding: 10px;
  }
  a.intro-a {
    display: inline-block;
    text-decoration: none;
    font-family: $san-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    color: midnightblue;
  }
  a.intro-a:hover {
    cursor: pointer;
    color: $grin;
  }
  h2.intro {
    font-size: 22px;
    font-weight: 700;
    font-family: $san-serif;
    line-height: 1.4;
    word-wrap: normal;
    margin: 50px 0 0 0;
    color: $purple;
    // border-bottom: 1px solid $grey-5;
    @media (max-width: $break-small) {
      font-size: 24px;
    }
  }

  p.body {
    font-size: 14px;
    color: $black;
    line-height: 1.75;
    margin: 20px 0 20px 0;
  }

  .intro-link {
    display: inline-block;
  }

  .intro-link:hover a {
    cursor: pointer;
    color: $soft-blue;

    @media (max-width: $break-small) {
      color: $grey-0;
    }
  }

  .underline,
  .underline-mask {
    width: inherit;
    height: 4px;
    background-color: $grey-1;
    margin-top: -4px;
  }

  .underline-mask {
    content: "";
    background-color: $soft-blue;
    transform: scaleX(0);
    //        transform-origin: 0% 0%;
    transition: transform 300ms ease-in-out;
    @media (max-width: $break-small) {
      transform: none;
    }
  }

  .intro-link:hover .underline-mask {
    transform: scaleX(1);
    //        transform-origin: 0% 0%;
    @media (max-width: $break-small) {
      transform: none;
    }
  }
}
