<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% assign current = page.url | downcase | split: '/' %}
    <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="transition">
                    <a href="{{ '' | prepend: site.baseurl }}/"
                        {% if current[1] == "til" or current[1] == "algorithm" or current[1] == "javascript"%}
                        class="normal" {% endif %} class="active">About</a>
                </li>
                <li class="transition">
                    <a href="{{ '/TIL' | prepend: site.baseurl }}" {% if current[1] == "til" %} class="active"
                        {% endif %}>TIL</a>
                </li>
                <li class="transition">
                    <a href="{{ '/algorithm' | prepend: site.baseurl }}" {% if current[1] == "algorithm" %}
                        class="active" {% endif %}>Algorithm</a>
                </li>
                <li class="transition">
                    <a href="{{ '/javascript' | prepend: site.baseurl }}" {% if current[1] == "javascript" %}
                        class="active" {% endif %}>Javascript</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if page.post-header == true %}
    {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
    {% include project-header.html %}
    {% endif %}

    <main>
        {{ content | replace: '
        <li>[ ]', '</li>
        <li class="box">' | replace: '</li>
        <li>[x]', '</li>
        <li class="box_done">' }}

    </main>

    {% include footer.html %}

</body>

</html>